.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #46b2dd93;
    color: rgb(0, 0, 0);
      font-family: "Bad Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 1.5rem;
}

button {
    background-color: #1241a7b4;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.5rem;
}

.passo{
  display: none;
}

.ativo{
  display: block;
}
 